.offer-banner-heading {
  font-weight: 900;
  font-size: 24px;
}

.banner-images-wrapper {
  margin-top: 16px;
  display: flex;
  overflow: hidden;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .banner-image {
    .banner-image-img {
      width: 425px;
      height: 252px;
    }
  }

  .banner-image:not(:first-child) {
    margin-left: 20px;
  }
}
.right-arrow{
  height: 25px;
  width: 25px;
}
.left-arrow{
  height: 25px;
  width: 25px;
}