.restaurants-wrapper {
  margin-top: 26px;
}

.restaurants-heading {
  font-weight: 900;
  font-size: 24px;
}

.restaurants-cards-wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 32px;
  margin-top: 20px;

  @media (min-width:768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .restaurant-card {
    width: 100%;

    &-image {
      width: 100%;
      height: 14rem;
      border-radius: 12px;
      overflow: hidden;

      &-img {
        width: 100%;
        height: 100%;
      }
    }

    &-body {
      margin-top: 8px;
      &-title {
        font-weight: 600;
        font-size: 20px;
        color: $text-gray-dark;
      }
      &-rating {
        display: flex;
        align-items: center;
        &-logo {
          width: 20px;
        }
        &-text {
          font-weight: 500;
          font-size: 18px;
          margin-left: 6px;
        }
      }

      &-cuisines {
        color: $text-gray-light;
        font-size: 16px;
      }

      &-area {
        color: $text-gray-light;
        font-size: 16px;
      }
    }
  }
}
