
.whats-on-mind-wrapper{
  margin-top: 26px;
}

.whats-on-mind-heading {
  font-weight: 900;
  font-size: 24px;
}

.whats-on-mind-images-wrapper {
  margin-top: 10px;
  display: flex;
  overflow: hidden;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .whats-on-mind-image {
    .whats-on-mind-image-img {
      width: 144px;
      height: 180px;
    }
  }

  .whats-on-mind-image:not(:first-child) {
    margin-left: 20px;
  }
}
